.c3-region.regionY0 {
  fill: #fff5f0;
}
.c3-region.regionY1 {
  fill: #fee0d2;
}
.c3-region.regionY2 {
  fill: #fcbba1;
}
.c3-region.regionY3 {
  fill: #fc9272;
}
.c3-region.regionY4 {
  fill: #fb6a4a;
}
.c3-region.regionY5 {
  fill: #ef3b2c;
}
.c3-region.regionY6 {
  fill: #cb181d;
}
.c3-region.regionY7 {
  fill: #a50f15;
}
.c3-region.regionY8 {
  fill: #67000d;
}
.c3-region.regionY9 {
  fill: #4E0000;
}